/apache-maven-3.9.7
/db-generation/articles
/db-generation/article.dat
/db-generation/read.dat
/db-generation/user.dat
/db-generation/video
/db-generation/image
/db-generation/bbc_news_texts
/.idea
/ddb/target